::selection{text-shadow:none;color:#FFF;background-color:#00a8cc;}
::-moz-selection{text-shadow:none;color:#FFF;background:#00a8cc;}
::-webkit-selection{text-shadow:none;color:#FFF;background:#00a8cc;}

.heading-wrap h2 {
  text-transform: none !important;
}

.icon-instagram, .icon-facebook, .icon-phone, .icon-whatsapp, .icon-map-marker, .icon-envelope {
  font-size: 1.2em;
}

.site-footer {
    padding: 2em 0; 
    background: #333333;
}
