::selection{text-shadow:none;color:#FFF;background-color:#00a8cc;}
::-moz-selection{text-shadow:none;color:#FFF;background:#00a8cc;}
::-webkit-selection{text-shadow:none;color:#FFF;background:#00a8cc;}

.site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(140vh);
}

.heading-wrap h2 {
  text-transform: none !important;
}

.home-header {
}

.home-header h1 {
  padding-top: 20px !important;
}

.icon-instagram, .icon-facebook, .icon-phone, .icon-whatsapp, .icon-map-marker {
  font-size: 1.2em;
}

.site-footer {
    padding: 4em 0;
    background: #333333;
}

.site-footer .btn-primary {
    color: #fff !important;
    background-color: #333333 !important;
    border-color: #fff !important;
  }

.btn-primary:hover {
  color: #00a8cc !important;
}

.site-footer .btn-primary:hover {
  color: #fff !important;
  background-color: #00a8cc !important;
  border-color: #00a8cc !important;
}

.site-section {
    padding: 3em 0;
}

@media (max-width: 767px) {

  .text-xs-center {
    text-align: center;
  }

  .site-section {
      padding: 2em 0;
  }
}

.site-footer .d-none {
    display: block !important;
}

.social-itens a {
  display: block;
  margin-bottom: 10px !important;
}

/*.img-overlap-2 {
    bottom: -40%;
    right: -40%;
    max-width: 90%;
}*/

#logo-header {
  height: 300px;
}

#logo-footer {
  height: 300px;
}

#sbi_load {
  display: none;
}
